{
    "discord": {
        "token": "HOLDOVER_TIL_REFACTOR",
        "user_id": 123456789012345678
    },
    "mappings": {
        "default": {
            "message": "Default",
            "emoji": "💡"
        },
        "mapping": [
            {
                "event": "Meeting",
                "message": "Meetin'"
            },
            {
                "event": "Chilling",
                "emoji": "❄️"
            },
            {
                "event": "Test",
                "message": "Testing...",
                "emoji": "🧪"
            }
        ]
    }
}
